#renderCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}

 body {
            background: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 60px;
        }

        h1 {
            margin-bottom: 40px;
        }

        a {
            display: block;
            width: 250px;
            margin: 10px auto;
            padding: 15px;
            background: #333;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background: #555;
        }